state-machines/EditLectureStateMachine.json
{
    "StartAt": "Check Presence of Parameters",
    "States": {
        "Check Presence of Parameters": {
            "Type": "Choice",
            "Choices": [
                {
                    "Or": [
                        {
                            "Not": {
                                "Variable": "$.codice_edificio",
                                "IsPresent": true
                            }
                        },
                        {
                            "Not": {
                                "Variable": "$.codice_aula",
                                "IsPresent": true
                            }
                        },
                        {
                            "Not": {
                                "Variable": "$.inizio",
                                "IsPresent": true
                            }
                        },
                        {
                            "Not": {
                                "Variable": "$.fine",
                                "IsPresent": true
                            }
                        }
                    ],
                    "Next": "Missing parameters"
                }
            ],
            "Default": "Check Parameters' Correctness"
        },
        "Check Parameters' Correctness": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.fine",
                    "NumericLessThanEqualsPath": "$.inizio",
                    "Next": "Wrong parameters"
                }
            ],
            "Default": "Check room correctness"
        },
        "Missing parameters": {
            "Type": "Fail",
            "Error": "Missing parameters"
        },
        "Check room correctness": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:987476018036:function:retrieve-number-of-seats"
            },
            "Next": "Check whether the room is free or not",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Room not existent"
                }
            ]
        },
        "Check whether the room is free or not": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:987476018036:function:check-lecture-date-and-time-correctness:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "Update lecture on Lectures DB",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Room already booked"
                }
            ]
        },
        "Room already booked": {
            "Type": "Fail",
            "Error": "Room already booked",
            "Cause": "Another lecture is already booked in the room you want to book."
        },
        "Update lecture on Lectures DB": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:987476018036:function:edit-lecture-on-lezioni-db"
            },
            "OutputPath": "$.Payload",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Lecture not updated"
                }
            ],
            "Next": "Get Lecture Data"
        },
        "Get Lecture Data": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:987476018036:function:retrieve-lecture-details:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "Add Email Purpose"
        },
        "Add Email Purpose": {
            "Type": "Pass",
            "Next": "Send email to students",
            "Result": "edit_lecture",
            "ResultPath": "$.email_data.purpose"
        },
        "Send email to students": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:987476018036:function:send-email-to-students:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "Success",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Error while sending emails"
                }
            ]
        },
        "Error while sending emails": {
            "Type": "Fail",
            "Error": "Error while sending emails",
            "Cause": "An error occurred while sending emails to the students."
        },
        "Success": {
            "Type": "Succeed"
        },
        "Lecture not updated": {
            "Type": "Fail",
            "Error": "Could not edit the lecture",
            "Cause": "An error occurred while updating lecture"
        },
        "Room not existent": {
            "Type": "Fail",
            "Error": "Room not existent",
            "Cause": "The building you select doesn't exist or the room you selected is not in that building"
        },
        "Wrong parameters": {
            "Type": "Fail",
            "Error": "Wrong date and time",
            "Cause": "Lecture end can not precede lecture start."
        }
    }
}